{% extends "layout.html" %}
{% block content%}
<main>
    <form class="container" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="d-flex justify-content-center file-field">
            <a class="btn-floating blue-gradient mt-0 float-left">
                <i class="fas fa-image"></i>
                {{ form.postImage }}
            </a>
        </div>
        <div class="container">
            <!-- Form -->
            <div class="text-center" style="color: #757575;" action="#!">

                <!-- Name -->
                <div class="md-form mt-3">
                    {{ form.title(class="form-control") }}
                    {{ form.title.label }}
                </div>

                <!--Message-->
                <div class="md-form">
                    {{ form.content(class="form-control md-textarea") }}
                    {{ form.content.label }}
                </div>

                <!-- Send button -->
                <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                    type="submit">Post</button>

            </div>
            <!-- Form -->
        </div>
    </form>
</main>
{% endblock %}