<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>Reverie - {{ title }}</title>
    {% else %}
    <title>Reverie</title>
    {% endif %}
</head>

<body>
    <nav>
        <ul>
            <li>
                {% if title %}
                <b>Reverie - {{ title }}</b>
                {% else %}
                <b>Reverie</b>
                {% endif %}
            </li>
            <li>
                Home
            </li>
            <li>
                About
            </li>
            <li>
                Others
            </li>
            {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('users.logout') }}">logout</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <!-- This is the flashed messages printed -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="ui {{category}} message">
        <i class="close icon"></i>
        <div class="header">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- This is where the inherited html outputted -->
    {% block content %}{% endblock %}
</body>

</html>