{% extends "layout.html" %}
{% block content%}
<div class="container card" style="padding-top: 50px; background-color: white;">
    <div class="row card-body">
        <div class="col-sm">
            <h1>{{ current_user.FirstName }} {{ current_user.LastName }}</h1>
            <p>{{ current_user.Email }}</p>
        </div>
        <div class="col-sm">
            <a href="{{ url_for('users.profile_update') }}" class="btn btn-primary btn-rounded btn-sm">Edit
                Profile</a>
            <a href="{{ url_for('main.pdf_template', email=current_user.Email) }}"
                class="btn btn-primary btn-rounded btn-sm">Generate User
                Data
            </a>
        </div>

        <div class="col-sm">
            <div class="avatar mx-auto white" style="max-width: 150px;">
                <img src="{{ url_for('static', filename='profile_pictures/' + current_user.ProfilePicture) }}"
                    alt="profile-picture" class="rounded-circle img-fluid">
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="contact"
                aria-selected="false">Friends 
                {% if users|count %}
                <span class="badge badge-primary badge-pill">
                        {{ users|count }}
                </span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#friendrequest" role="tab"
                aria-controls="profile" aria-selected="false">Friend Requests
                    {% set count = [0] %}
                    {% for follower in followers %}
                        {% if not current_user.is_following(follower) and follower.is_following(current_user) %}
                            {% if count.append(count.pop() + 1) %}{% endif %}
                        {% endif %}
                    {% endfor %}
                <span class="badge badge-primary badge-pill">
                    {{ count[0] }}
                </span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <div class="float-right" style="float: right;">
            <a href="{{ url_for('posts.create_post') }}" class="btn btn-outline-primary waves-effect"><i
                class="fas fa-magic mr-1"></i>Make a story</a>
        </div>
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <!-- Section: Blog v.1 -->
            <section class="my-5">
                {% for post in posts %}
                <!-- Grid row -->
                <div class="row">
                    {% if post.ImageFile %}
                    <!-- Grid column -->
                    <div class="col-lg-5">

                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                            <img class="img-fluid" src="{{ url_for('static', filename='post_images/' +
                                    post.ImageFile) }}" alt="Post Image">
                            <a href="{{ url_for('posts.post', postID=post.id) }}">

                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->
                    {% endif %}

                    <!-- Grid column -->
                    <div class="col-lg-7
                        ">

                        <!-- Category -->

                        <a href="#!">

                            <h6 class="font-weight-bold mb-3">{{ post.DatePosted.strftime('%a %d, %Y') }}</h6>
                        </a>

                        <!-- Post title -->
                        <a href="{{ url_for('posts.post', postID=post.id) }}" class="black-text">
                            <h3 class="font-weight-bold mb-3"><strong>{{ post.Title }}</strong></h3>
                        </a>
                        <!-- Excerpt -->
                        {% if post.Content[:150] %}

                        <p class="dark-grey-text">{{ post.Content[:150] + (post.Content[150:] and '...') }}</p>
                        <!-- Post data -->
                        {% endif %}

                        <!-- Read more button -->
                        <a class="btn btn-outline-primary waves-effect btn-sm"
                            href="{{ url_for('posts.update_post', postID=post.id) }}">Edit</a>
                        <form action="{{ url_for('posts.delete_post', postID=post.id) }}" style="display: inline-block;"
                            method="POST">
                            <button type="submit" class="btn btn-outline-danger waves-effect btn-sm">Delete</button>
                        </form>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <hr class="my-5">
                {% endfor %}
            </section>
            <!-- Section: Blog v.1 -->
        </div>
        <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="profile-tab">
            {% for user in users %}
            <h1>
                {{ user.FirstName }} {{ user.LastName }}
                <a href="{{ url_for('users.unfriend', Email=user.Email) }}" class="btn btn-danger btn-rounded btn-sm">
                    Unfriend
                </a>
            </h1>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="friendrequest" role="tabpanel" aria-labelledby="contact-tab">
            {% for follower in followers %}
            {% if not current_user.is_following(follower) and follower.is_following(current_user) %}
            <h1>
                {{ follower.FirstName }} {{ follower.LastName }}
                <a href="{{ url_for('users.accept', Email=follower.Email) }}"
                    class="btn btn-primary btn-rounded btn-sm">
                    Accept Request
                </a>
            </h1>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}