{% extends "layout.html" %}
{% block content%}
<main>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>{{ current_user.FirstName }} {{ current_user.LastName }}</h1>
                <p>{{ current_user.Email }}</p>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('users.profile_update') }}" class="btn btn-primary btn-rounded btn-sm">Edit Profile</a>
            </div>
            <div class="col-sm">
                <div class="avatar mx-auto white" style="max-width: 150px;">
                    <img src="{{ url_for('static', filename='profile_pictures/' + current_user.ProfilePicture) }}"
                        alt="profile-piture" class="rounded-circle img-fluid">
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Posts</a>
            </li>
        </ul>
        <div class="float-right">
            <a href="{{ url_for('posts.create_post') }}" class="btn btn-outline-primary waves-effect"><i class="fas fa-magic mr-1"></i>Make a story</a>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <!-- Section: Blog v.1 -->
                <section class="my-5">
                    {% for i in range(5) %}
                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-5">

                            <!-- Featured image -->
                            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
                                    alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-lg-7">

                            <!-- Category -->
                            <a href="#!" class="green-text">
                                <h6 class="font-weight-bold mb-3"><i class="fas fa-utensils pr-2"></i>Food</h6>
                            </a>
                            <!-- Post title -->
                            <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
                            <!-- Excerpt -->
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
                                quod maxime
                                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut
                                officiis debitis.</p>
                            <!-- Post data -->
                            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2018</p>
                            <!-- Read more button -->
                            <a class="btn btn-outline-primary waves-effect btn-sm">Edit</a>
                            <a class="btn btn-outline-danger waves-effect btn-sm">Delete</a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <hr class="my-5">
                    {% endfor %}
                </section>
                <!-- Section: Blog v.1 -->
            </div>
    </div>
</main>
{% endblock %}