{% extends "layout.html" %}
{% block content%}
<main class="justify-content-center align-items-center row" style="margin: 0;">

    <div class="col-lg-5 col-md-6 mb-4">

        <section class="form-elegant ">

            <!--Form without header-->
            <form class="card" method="POST">
                {{ form.hidden_tag() }}

                <div class="card-body mx-4">
                    <!--Header-->
                    <div class="text-center">
                        <h3 class="dark-grey-text mb-5">
                            <strong>Sign up</strong>
                        </h3>
                    </div>

                    <!--Body-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                {{ form.firstName(class='form-control') }}
                                {{ form.firstName.label }}
                                {% for error in form.firstName.errors %}
                                <span style="color: #f44336">{{ error }}</span>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                {{ form.lastName(class='form-control') }}
                                {{ form.lastName.label }}
                                {% for error in form.lastName.errors %}
                                <span style="color: #f44336">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="md-form">
                        {{ form.email(class='form-control') }}
                        {{ form.email.label }}
                        {% for error in form.email.errors %}
                        <span style="color: #f44336">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="md-form">
                        {{ form.password(class='form-control') }}
                        {{ form.password.label }}
                        {% for error in form.password.errors %}
                        <span style="color: #f44336">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="md-form">
                        {{ form.confirmPassword(class='form-control') }}
                        {{ form.confirmPassword.label }}
                        {% for error in form.confirmPassword.errors %}
                        <span style="color: #f44336">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="text-center mb-3">
                        <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign
                            up</button>
                    </div>
                    <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign
                        up
                        with:</p>

                    <div class="row my-3 d-flex justify-content-center">
                        <!--Facebook-->
                        <button type="button"
                            class="btn btn-white btn-rounded mr-md-3 z-depth-1a waves-effect waves-light">
                            <i class="fab fa-facebook-f blue-text text-center"></i>
                        </button>
                        <!--Google +-->
                        <button type="button" class="btn btn-white btn-rounded z-depth-1a">
                            <i class="fab fa-google-plus-g blue-text"></i>
                        </button>
                    </div>

                </div>

                <!--Footer-->
                <div class="modal-footer mx-5 pt-3 mb-1">
                    <p class="font-small grey-text d-flex justify-content-end">Already a member?
                        <a href="{{ url_for('users.login') }}" class="blue-text ml-1"> Sign In</a>
                    </p>
                </div>

            </form>
            <!--/Form without header-->

        </section>

    </div>


</main>

{% endblock %}