{% extends "layout.html" %}
{% block content%}
<div class="container">

    <div class="row">
        <!-- Section: Blog v.3 -->
        <section class="my-5 col-xl-9">
            <h1>What's on your mind?
                <a href="{{ url_for('posts.create_post') }}" class="btn btn-outline-primary waves-effect"><i
                        class="fas fa-magic mr-1"></i>
                    Make a story
                </a>
            </h1>


            <br><br>

            {% for post in posts %}
            <!-- Grid row -->
            <div class="row">
                {% if post.ImageFile %}
                <!-- Grid column -->
                <div class="col-lg-5 col-xl-4">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                        <img class="img-fluid" src="{{ url_for('static', filename='post_images/' +
                            post.ImageFile) }}" alt="Post Image">
                        <a href="{{ url_for('posts.post', postID=post.id) }}">

                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->
                {% endif %}
                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <a href="{{ url_for('posts.post', postID=post.id) }}" style="color: black;">
                        <h5 class="font-weight-bold mb-3"><strong>{{ post.Title }}</strong></h5>
                    </a>

                    <!-- Excerpt -->
                    {% if post.Content[:100] %}

                    <p class="dark-grey-text">{{ post.Content[:100] + (post.Content[100:] and '...') }}</p>
                    <!-- Post data -->
                    {% endif %}

                    <!-- Read more button -->

                    <a href="{{ url_for('main.user_profile', email=post.Author.Email) }}">
                        <h6 class="font-weight-bold mb-3"><img style="max-width: 30px; margin-right: 10px;"
                                src="{{ url_for('static', filename='profile_pictures/' + post.Author.ProfilePicture) }}"
                                class="img-fluid z-depth-1 rounded-circle"
                                alt="Responsive image"><strong>{{ post.Author.FirstName }}
                                {{ post.Author.LastName }}</strong> |
                            {{ post.DatePosted.strftime('%m/%d/%Y') }}</h6>
                    </a>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-5">
            {% endfor %}

        </section>
        <!-- Section: Blog v.3 -->

        <section class="my-5 col-xl-3">
            <h4 style="font-weight: bolder;">People You may know</h4>
            {% for user in users %}
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-4" style="padding: 10px;">
                    <a href="{{ url_for('main.user_profile', email=user.Email) }}">
                        <h6 class="font-weight-bold mb-3"><img style="max-width: 50px; margin-right: 10px;"
                                src="{{ url_for('static', filename='profile_pictures/' + user.ProfilePicture) }}"
                                class="img-fluid z-depth-1 rounded-circle"
                                alt="Responsive image"><strong>{{ user.FirstName }}
                                {{ user.LastName }}</strong>
                        </h6>
                    </a>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</div>

{% endblock %}