{% extends "layout.html" %}
{% block content %}
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm">
            <h1>{{ user.FirstName }} {{ user.LastName }}</h1>
            <p>{{ user.Email }}</p>
        </div>
        <div class="col-sm">
            {% if current_user.Email != user.Email %}
            {% if current_user.is_following(user) %}
            <a href="{{ url_for('users.unfollow', Email=user.Email) }}" class="btn btn-primary btn-rounded btn-sm">Unfriend</a>
            {% else %}
            <a href="{{ url_for('users.follow', Email=user.Email) }}" class="btn btn-primary btn-rounded btn-sm">Add
                Friend</a>
            {% endif %}
            <a href="{{ url_for('main.pdf_template', email=user.Email) }}"
                class="btn btn-primary btn-rounded btn-sm">Generate User
                Data</a>
            {% else %}
            <a href="{{ url_for('users.profile_update') }}" class="btn btn-primary btn-rounded btn-sm">Edit
                Profile</a>
            {% endif %}
        </div>
        <div class="col-sm">
            <div class="avatar mx-auto white" style="max-width: 150px;">
                <img src="{{ url_for('static', filename='profile_pictures/' + user.ProfilePicture) }}"
                    alt="profile-picture" class="rounded-circle img-fluid">
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Followers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Following</a>
        </li>
    </ul>
    {% if current_user.Email == user.Email %}
    <div class="float-right">
        <a href="{{ url_for('posts.create_post') }}" class="btn btn-outline-primary waves-effect"><i
                class="fas fa-magic mr-1"></i>Make a story</a>
    </div>
    {% endif %}
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <!-- Section: Blog v.1 -->
            <section class="my-5">
                {% for post in posts.items %}
                <!-- Grid row -->
                <div class="row">
                    {% if post.ImageFile %}
                    <!-- Grid column -->
                    <div class="col-lg-5">

                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                            <img class="img-fluid" src="{{ url_for('static', filename='post_images/' +
                                    post.ImageFile) }}" alt="Post Image">
                            <a href="{{ url_for('posts.post', postID=post.id) }}">

                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->
                    {% endif %}

                    <!-- Grid column -->
                    <div class="col-lg-7
                        ">

                        <!-- Category -->

                        <a href="#!">

                            <h6 class="font-weight-bold mb-3">{{ post.DatePosted.strftime('%a %d, %Y') }}</h6>
                        </a>

                        <!-- Post title -->
                        <a href="{{ url_for('posts.post', postID=post.id) }}" class="black-text">
                            <h3 class="font-weight-bold mb-3"><strong>{{ post.Title }}</strong></h3>
                        </a>
                        <!-- Excerpt -->
                        {% if post.Content[:150] %}

                        <p class="dark-grey-text">{{ post.Content[:150] + (post.Content[150:] and '...') }}</p>
                        <!-- Post data -->
                        {% endif %}

                        <!-- Read more button -->
                        {% if current_user.Email == post.Author.Email %}
                        <a class="btn btn-outline-primary waves-effect btn-sm"
                            href="{{ url_for('posts.update_post', postID=post.id) }}">Edit</a>
                        <form action="{{ url_for('posts.delete_post', postID=post.id) }}" style="display: inline-block;"
                            method="POST">
                            <button type="submit" class="btn btn-outline-danger waves-effect btn-sm">Delete</button>
                        </form>
                        {% endif %}
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <hr class="my-5">
                {% endfor %}
            </section>
            <!-- Section: Blog v.1 -->
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% for follower in followers %}
            <h1>{{ follower.FirstName }} {{ follower.LastName }}</h1>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            {% for followed in following %}
            <h1>{{ followed.FirstName }} {{ followed.LastName }}</h1>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}