{% extends "layout.html" %}
{% block content %}
<div class="container card" style="padding-top: 50px; background-color: white;">
    <div class="row card-body">
        <div class="col-sm">
            <h1>{{ user.FirstName }} {{ user.LastName }}</h1>
            <p>{{ user.Email }}</p>
        </div>
        <div class="col-sm">
            {% if current_user.Email != user.Email %}
                    {% if current_user.is_following(user) %}
                        {% if user.is_following(current_user) %}
                        <!-- Basic dropdown -->
                        <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Friends</button>

                        <div class="dropdown-menu">
                            <a href="{{ url_for('users.unfollow', Email=user.Email) }}"
                                class="btn btn-danger btn-rounded btn-sm">Unfriend</a>
                        </div>
                        <!-- Basic dropdown -->
                        {% else %}
                        <!-- Basic dropdown -->
                        <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Pending</button>

                        <div class="dropdown-menu">
                            <a href="{{ url_for('users.cancel', Email=user.Email) }}"
                                class="btn btn-primary btn-rounded btn-sm">Cancel Request</a>
                        </div>
                        <!-- Basic dropdown -->
                        {% endif %}


                        {% if user.is_following(current_user) and current_user.is_following(user)  %}
                        <a href="{{ url_for('main.pdf_template', email=user.Email) }}"
                            class="btn btn-primary btn-rounded btn-sm">Generate User
                            Data</a>
                        {% else %}
                        <i class="fas fa-check-double"></i>Following
                        {% endif %}

                    {% else %}
                        {% if user.is_following(current_user) %}
                        <a href="{{ url_for('users.accept', Email=user.Email) }}" class="btn btn-primary btn-rounded btn-sm">
                            Accept Request
                        </a>
                        {% else %}
                        <a href="{{ url_for('users.follow', Email=user.Email) }}" class="btn btn-primary btn-rounded btn-sm">
                            Add
                            Friend
                        </a>
                        {% endif %}
                    {% endif %}

            {% else %}
                <a href="{{ url_for('users.profile_update') }}" class="btn btn-primary btn-rounded btn-sm">Edit
                    Profile</a>
                <a href="{{ url_for('main.pdf_template', email=current_user.Email) }}"
                    class="btn btn-primary btn-rounded btn-sm">Generate User
                    Data
                </a>
            {% endif %}
        </div>
        <div class="col-sm">
            <div class="avatar mx-auto white" style="max-width: 150px;">
                <img src="{{ url_for('static', filename='profile_pictures/' + user.ProfilePicture) }}"
                    alt="profile-picture" class="rounded-circle img-fluid">
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="contact"
                aria-selected="false">Friends 
                {% if friends|count %}
                <span class="badge badge-primary badge-pill">
                        {{ friends|count }}
                </span>
                {% endif %}
            </a>
        </li>
        {% if current_user.id == user.id %}
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#friendrequest" role="tab"
                aria-controls="profile" aria-selected="false">Friend Requests 
                    {% set count = [0] %}
                    {% for follower in followers %}
                        {% if not current_user.is_following(follower) and follower.is_following(current_user) %}
                            {% if count.append(count.pop() + 1) %}{% endif %}
                        {% endif %}
                    {% endfor %}
                <span class="badge badge-primary badge-pill">
                    {{ count[0] }}
                </span>
            </a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#mutuals" role="tab" aria-controls="profile"
                aria-selected="false">Mutual Friends 
                {% if mutuals|count %}
                <span class="badge badge-primary badge-pill">
                    {{ mutuals|count }}
                </span>
                {% endif %}
            </a>
        </li>
        {% endif %}
    </ul>
    <div class="tab-content" id="myTabContent">
        {% if current_user.Email == user.Email %}
        <div class="float-right">
            <a href="{{ url_for('posts.create_post') }}" class="btn btn-outline-primary waves-effect"><i
                    class="fas fa-magic mr-1"></i>Make a story</a>
        </div>
        {% endif %}
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <!-- Section: Blog v.1 -->
            <section class="my-5">
                {% for post in posts.items %}
                <!-- Grid row -->
                <div class="row">
                    {% if post.ImageFile %}
                    <!-- Grid column -->
                    <div class="col-lg-5">

                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                            <img class="img-fluid" src="{{ url_for('static', filename='post_images/' +
                                    post.ImageFile) }}" alt="Post Image">
                            <a href="{{ url_for('posts.post', postID=post.id) }}">

                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->
                    {% endif %}

                    <!-- Grid column -->
                    <div class="col-lg-7
                        ">

                        <!-- Category -->

                        <a href="#!">

                            <h6 class="font-weight-bold mb-3">{{ post.DatePosted.strftime('%a %d, %Y') }}</h6>
                        </a>

                        <!-- Post title -->
                        <a href="{{ url_for('posts.post', postID=post.id) }}" class="black-text">
                            <h3 class="font-weight-bold mb-3"><strong>{{ post.Title }}</strong></h3>
                        </a>
                        <!-- Excerpt -->
                        {% if post.Content[:150] %}

                        <p class="dark-grey-text">{{ post.Content[:150] + (post.Content[150:] and '...') }}</p>
                        <!-- Post data -->
                        {% endif %}

                        <!-- Read more button -->
                        {% if current_user.Email == post.Author.Email %}
                        <a class="btn btn-outline-primary waves-effect btn-sm"
                            href="{{ url_for('posts.update_post', postID=post.id) }}">Edit</a>
                        <form action="{{ url_for('posts.delete_post', postID=post.id) }}" style="display: inline-block;"
                            method="POST">
                            <button type="submit" class="btn btn-outline-danger waves-effect btn-sm">Delete</button>
                        </form>
                        {% endif %}
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <hr class="my-5">
                {% endfor %}
            </section>
            <!-- Section: Blog v.1 -->
        </div>

        <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="profile-tab">
            <ul class="list-group list-group-flush">
                <ul class="list-group">
                {% for friend in friends %}
                <li class="list-group-item">
                    <img style="max-width: 50px; margin-right: 10px;"
                    src="{{ url_for('static', filename='profile_pictures/' + friend.ProfilePicture) }}"
                    class="img-fluid z-depth-1 rounded-circle" alt="Responsive image">
                    <a href="{{ url_for('main.user_profile', email=friend.Email) }}">
                        <strong>{{ friend.FirstName }} {{ friend.LastName }}</strong>
                    </a>
                    {% if current_user.id == user.id %}
                    <a href="{{ url_for('users.unfriend', Email=friend.Email) }}" class="btn btn-danger btn-rounded btn-sm">
                        Unfriend
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                </ul>
            </ul>
        </div>
        <div class="tab-pane fade" id="friendrequest" role="tabpanel" aria-labelledby="contact-tab">
            <ul class="list-group list-group-flush">
                <ul class="list-group">
                    {% for follower in followers %}
                    {% if not current_user.is_following(follower) and follower.is_following(current_user) %}
                    <li class="list-group-item">
                    <img style="max-width: 50px; margin-right: 10px;"
                    src="{{ url_for('static', filename='profile_pictures/' + follower.ProfilePicture) }}"
                    class="img-fluid z-depth-1 rounded-circle" alt="Responsive image">
                    <a href="{{ url_for('main.user_profile', email=follower.Email) }}">
                        <strong>{{ follower.FirstName }} {{ follower.LastName }}</strong>
                    </a>
                    <a href="{{ url_for('users.accept', Email=follower.Email) }}"
                        class="btn btn-primary btn-rounded btn-sm">
                        Accept Request
                    </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </ul>
        </div>
        <div class="tab-pane fade" id="mutuals" role="tabpanel" aria-labelledby="contact-tab">                    
            <ul class="list-group list-group-flush">
                <ul class="list-group">
                    {% for friend in friends %}
                    {% for mutual in mutuals %}
                    {% if friend.id == mutual %}
                    <li class="list-group-item">
                        <img style="max-width: 50px; margin-right: 10px;"
                        src="{{ url_for('static', filename='profile_pictures/' + friend.ProfilePicture) }}"
                        class="img-fluid z-depth-1 rounded-circle" alt="Responsive image">
                        <a href="{{ url_for('main.user_profile', email=friend.Email) }}">
                            <strong>{{ friend.FirstName }} {{ friend.LastName }}</strong>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            </ul>
        </div>
    </div>
</div>
{% endblock %}